.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  font-size: 2.2vh;
  min-height: 5vh;
  border: 1px solid lightgray;
  padding: 2px 12px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.2rem hsl(0 0% 0% / 20%);
  margin-bottom: 1vh;

  @media screen and (max-width: 999px) {
    width: 35vw;
  }
}

.main:hover {
  cursor: pointer;
}

.main:active {
  cursor: grab;
  height: 7vh;
  gap: 1vw;
  .section {
    color: var(--secondary-background);
    @media screen and (min-width: 1000px) {
      transform: scale(1.2);
    }
  }
  .scale {
    fill: var(--secondary-background);
    @media screen and (min-width: 1000px) {
      transform: scale(1.2);
    }
  }
}

.scale {
  font-size: 2.6vh;
}

@media screen and (min-width: 1000px) {
  .scale:hover {
    transform: scale(1.4);
    fill: var(--secondary-background);
  }
}
