.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 5vh;
  text-align: center;
  max-width: 75vw;
  font-size: 2.2vh;
}

.main:hover {
  cursor: pointer;
}

.main:active {
  cursor: grab;
  .section {
    color: var(--secondary-background);
    @media screen and (min-width: 1000px) {
      transform: scale(1.2);
    }
  }
  .scale {
    fill: var(--secondary-background);
    @media screen and (min-width: 1000px) {
      transform: scale(1.2);
    }
  }
}

.scale {
  font-size: 2.6vh;
}

@media screen and (min-width: 1000px) {
  .scale:hover {
    transform: scale(1.4);
    fill: var(--secondary-background);
  }
}
