.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.propsContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.pNote {
  color: lightgray;
}

.paths {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.storeContainer {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (max-width: 1000px) {
    height: 8vh;
  }
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 2vw;

  @media (max-width: 1000px) {
    padding: 0.5vh 2vw;
  }
}

.name {
  font-size: 2.6vh;
  text-emphasis: bolder;
  padding: 0 2vw;
}

.pathItem {
  font-size: 2.3vh;
  width: 100%;

  @media screen and (max-width: 999px) {
    max-height: 70vh;
    width: 100vw;
  }
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.btn {
  color: black;
  padding: 0 0.7vh;
  border-radius: 20px;
  border: 1px solid var(--secondary-background);
}

.delete {
  border-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 1vh;
}

.hide {
  display: none;
}

.show {
  display: block;
  padding: 2vw 3vh;

  @media screen and (max-width: 999px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0vh 2vw;
    justify-content: center;
    padding: 12px;
  }
}

.expanded {
  @media screen and (max-width: 999px) {
    border: 2px solid white;
    border-radius: 0px;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 76vh;
    background-color: white;
    z-index: 10;
    opacity: 1;
    // /* Animate all changes */
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }

  @media (max-width: 1000px) {
    .name {
      color: var(--secondary-background);
    }
    .scale {
      fill: var(--secondary-background);
    }
    .caretContainer {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--primary-background);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
