.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.propsContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.pNote {
  color: lightgray;
}

.paths {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.storeContainer {
  transition: height 2s ease;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 1.5vw;
}

.name {
  font-size: 2.6vh;
  text-emphasis: bolder;
  padding: 0 2vw;
}

.pathItem {
  font-size: 2.3vh;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.btn {
  color: black;
  padding: 0 0.7vh;
  border-radius: 20px;
  border: 1px solid var(--secondary-background);
}

.delete {
  border-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 1vh;
}

.hide {
  display: none;
}

.show {
  display: block;
  max-height: 50vh;
  padding: 2vw 3vh;
}
