.hide {
  display: none;
}

.show {
  display: block;
  max-height: 50vh;
  padding: 2vw 3vh;
}

.foodItemContainer {
  transition: height 2s ease;
  overflow: hidden;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 2px 12px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.2rem hsl(0 0% 0% / 20%);
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 1.5vw;
}

.name {
  font-size: 2.6vh;
  text-emphasis: bolder;
  padding: 0 2vw;
}

.foodItem {
  font-size: 2.3vh;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.btn {
  color: black;
  padding: 0.3vh 0.8vh;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 3vh;
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  position: relative;
  background-color: lightgray;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.btn:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn:active {
  top: 1px;
  background-color: var(--secondary-background);
  color: var(--primary-background);
}

.delete {
  border-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 1vh;
}

.deleteBtn {
  fill: black;
}
