.link {
  font-style: italic;
  text-decoration: none;
}

.menuItem {
  font-size: 2.2vh;
  padding-bottom: 2vh;
  border: 3px solid var(--secondary-background);
  width: 70vw;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  color: white;
  background-color: #999;
  font-weight: 400;
  text-decoration: none;

  @media (max-width: 1023px) {
    width: 70vw;
  }
}

.menuItem:hover {
  background-color: #0d1321;
  color: white;
  transform: scale(1.1);
}
