.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.propsContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.pNote {
  color: lightgray;
}

.circle:hover {
  fill: black;
  cursor: pointer;
}
