.main {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pName {
  width: 35vw;
}

.input {
  color: var(--primary-font);
  background-color: var(--primary-background);
  border: none;
  border-bottom: 2px dashed var(--primary-font);
  width: 20vw;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.scale:active {
  transform: scale(1.2);
  fill: var(--secondary-background);
}

@media screen and (min-width: 1000px) {
  .scale:hover {
    transform: scale(1.4);
    fill: var(--secondary-background);
  }
}
