.main {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  border: 1px solid lightgray;
  padding: 2px 12px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.2rem hsl(0 0% 0% / 20%);
}

.pName {
  width: 37vw;
}

.input {
  color: var(--primary-font);
  background-color: var(--primary-background);
  border: none;
  border-bottom: 2px dashed var(--primary-font);
  width: 22vw;
  border-radius: 0;

  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;

  @media screen and (max-width: 1000px) {
    justify-content: space-between;
    align-items: space-between;
    width: 15vw;
  }
}

.scale:active {
  transform: scale(1.2);
  fill: var(--secondary-background);
}

@media screen and (min-width: 1000px) {
  .scale:hover {
    transform: scale(1.4);
    fill: var(--secondary-background);
  }
}
