.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 1.5vh;
  overflow: hidden;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2vh;
  max-height: 75vh;
  overflow: scroll;
}

.foodItemContainer {
  display: flex;
  flex-direction: column;
}

.catDisplay {
  text-align: center;
  background-color: var(--secondary-background);
  margin-bottom: 0.7vh;
}
