.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10.5vh 0 0 0;
  background-color: var(--primary-background);
  gap: 1.5vh;
  overflow-y: hidden;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2vh;
  max-height: 71vh;
  overflow-y: scroll;

  @media screen and (max-width: 1000px) {
    width: 100vw;
    max-height: 72vh;
    padding-bottom: 2vh;
  }
}

.foodItemContainer {
  display: flex;
  flex-direction: column;
}

.catDisplay {
  text-align: center;
  background-color: var(--secondary-background);
  margin-bottom: 0.7vh;
}

.currentStoreDiv {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  position: sticky;
  top: 0;
}

.main::-webkit-scrollbar,
.listContainer::-webkit-scrollbar {
  display: none;
}
