.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  background-color: var(--primary-background);
  width: 100vw;
  padding: 10vh 0 0 0;
}

.listContainer {
  padding-top: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vh;
  height: 81.5vh;
  overflow-y: scroll;
  padding-bottom: 2vh;
  width: 100vw;
  @media (max-width: 1000px) {
    padding-bottom: 10vh;
  }
}

.foodContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  z-index: 1;
}

.foodName {
  width: 33vw;
}
