.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  background-color: var(--primary-background);
  width: 100vw;
  padding: 10.5vh 0 0 0;
  overflow-x: hidden;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vh;
  overflow-y: scroll;
  padding-bottom: 2vh;
  min-height: 82vh;
  width: 100vw;

  @media (max-width: 1000px) {
    padding-bottom: 10vh;
  }
}

.foodContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  z-index: 1;
  // min-height: 5vh;
  border: 1px solid lightgray;
  padding: 2px 12px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.2rem hsl(0 0% 0% / 20%);

  @media (max-width: 1000px) {
    width: 95vw;
  }
}

.foodName {
  width: 33vw;
}
