.main {
  margin-bottom: 1.5vh;
  border: 1px solid var(--secondary-background);
  border-radius: 25px;
  padding: 2vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.label {
  width: 35vw;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.input {
  color: black;
  width: 42vw;
}

@media screen and (max-width: 767px) {
  .input {
    font-size: 16px;
  }
}
