.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 1.5vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.label {
  width: 35vw;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.input {
  color: black;
  width: 37vw;
}
