.main {
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 100vw;
  border: 2px solid var(--primary-font);
  z-index: 1;
  background-color: var(--secondary-background);
  -webkit-transition: height 1s ease-out, border-radius 1s ease-out;
  -moz-transition: height 1s ease-out, border-radius 1s ease-out;
  -o-transition: height 1s ease-out, border-radius 1s ease-out;
  transition: height 1s, border-radius 1s ease-out;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5vw;
  padding: 2vh 0;
  font-size: 16px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  height: 10vh;
  justify-content: center;
  padding: 1vh 0 1vh 3vw;
  align-items: center;
}

.input {
  color: black;
  width: 50vw;
  overflow: hidden;
  padding-left: 2vw;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    border-radius: 8px;
    height: 3.5vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 5px #555 inset;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.label {
  width: 20vw;
}

.button {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  color: black;
  background-color: white;
  color: var(--secondary-background);
  border: 2px solid white;
  font-size: 1.5vh;
  padding: 1vh;
}

.button:hover {
  background-color: var(--primary-background);
  transform: scale(1.1);
}

.disabledBtn {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  background-color: lightgray;
  border: 2px solid var(--primary-font);
  font-size: 1.5vh;
  padding: 1vh;
}

.hide {
  display: none;
}

.dropContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 8vh;
  background-color: var(--secondary-background);
  border-radius: 20px 20px 0 0;
}

.caretContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tall {
  height: 25vh;
  border-radius: 20px 20px 0 0;
}

.short {
  height: 8vh;
}

.h2Add {
  font-weight: 400;
  font-size: 20px;
}
